#main {
    font-family: 'Lucida Sans', Arial, Sans-serif;
    font-size: 50px;
    text-align: center;
    color:brown;
    font-weight: bold;

}

.item {
    color: blue;


}

a  {
    color:darkturquoise;
    font-family: 'Lucida Grande','Lucida Sans',sans-serif;
    text-align:center;
    font-weight: 500;
    font-size: 20px;
}

.top {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 50px;
    text-align: center;
}

.top.shrimp{
    color:indianred;
}

.top.oat {
    color:rgb(211, 36, 36);
}

.top.omelette {
    color: rgba(228, 228, 38, 0.863);
}

img {
    height: auto;
    width:500px;
}

.oat_img {
    height: 500px;
    width:300px;
}

h3 {
   /* background-color: aqua; */
}

h3.top_des {
    /* background-color: blueviolet; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;

}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

#ing {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#items {
    font-family:cursive;
    color:magenta;
}

strong {
    color: red;
}

.header {
    display:flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items:flex-start;
    height:100px;
    background-color: rgb(75, 168, 51);
}

.right_header {
    display:flex;
    gap:10px;
}

.right_header a{
    color:rgb(173, 29, 65);
}

.left_header h1 a{
    padding:0px;
    margin:0px;
    color:rgb(173, 29, 65);
    text-decoration: none;
    font-weight: bolder;
    font-size:30px;
}

.header_2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(75, 168, 51);
    
}

.header_2_text h3 {
    font-size: 50px;
    max-width:400px;
    background-color: transparent;
    margin-left: 100px;
    
    
}

.header_2_text p {
    font-size:20px;
    max-width:600px;
}

button {
    color:black;
    background-color: rgb(161, 60, 13);
    border-radius: 12px;
    width:100px;
    height:30px;
    align-self:center;
}

#main_text {
    font-size:50px;
    text-align: center;
}

.main_section {
    display:flex;
    justify-content:center;
    align-content: center;
    gap:40px;
    padding-bottom: 90px;

}

.item img {
    width:200px;
    height: 200px;
    border-style: solid;
    border-color: rgb(75, 168, 51);
    border-radius: 100px;   
}

.item img:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.text {
    text-align: center;
}

.text a {
    color: rgb(75, 168, 51);
}

.section_3{
    height: 200px;
    background-color:rgb(216, 190, 190);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    font-size: 40px;
    margin-bottom: 30px;
}

.karen {
    text-align: right;
}

.footer {
    height: 50px;
    display:flex;
    align-items:flex-end;
    justify-content: center;
    color:white;
    background-color: black;
}

.shrimp_img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.oat_img {
    width:20%;
    display:block;
    margin:auto;
    padding:auto;
}

.omelette_img {
    width:20%;
    display:block;
    padding:auto;
    margin:auto;

}